@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

/* .flex-item {
  max-width: 600px;
} */

.flex-item .image-container {
  width: 40%;
}

.flex-item .image {
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  border: 4px solid burlywood;
}

.flex-item .content {
  width: 60%;
}

@media (max-width: 768px) {
  .flex-item .image-container {
    width: 100%;
  }

  .flex-item .content {
    width: 100%;
  }
}
